.navbar-dino {
  background-color: #ffd21f;
  height: 64px;
  font-family: 'Bryndan Write', sans-serif;
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.3);

}

.nav-brand {
  font-size: 1.5rem;
  color: #00167a;
  font-weight: bold;
}

.nav-link-dino {
  font-size: 1.3rem;
  color: #00167a;
  text-decoration: none;
}

.nav-link-dino:hover {
  color: #E8353A;
}

.nav-usuario {
  font-size: 1.1rem;
  color: #00167a;
  white-space: nowrap;
}


@media (max-width: 991px) {
  .navbar-dino {
    height: auto;        
    padding-bottom: 12px;
  }

  .nav-link-dino {
    padding: 8px 0;
    display: block;      
  }
}

