<app-navbar>

  <div class="fondo d-flex justify-content-center align-items-start" style="min-height: calc(100vh - 64px);">

    <div class="w-100 px-4 pt-4">

      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="titulo-seccion">Usuarios</h2>
        <button class="btn-amarillo" (click)="abrirModalCrear()">+ Nuevo Usuario</button>
      </div>

      <div class="tabla-container">
        <table class="tabla-dino w-100">
          <thead>
            <tr class="fila-header">
              <th>ID</th>
              <th>Username</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios; let i = index"
                [class]="i % 2 === 0 ? 'fila-roja' : 'fila-blanca'">
              <td>{{ usuario.id }}</td>
              <td>{{ usuario.username }}</td>
              <td class="td-acciones">
                <div class="acciones-wrapper">
                  <button class="btn-puntos" (click)="toggleMenu(usuario.id, $event)">&#8942;</button>
                  <div class="menu-flotante" *ngIf="menuAbierto === usuario.id" [style.top.px]="menuPosicion.top" [style.left.px]="menuPosicion.left">
                    <button class="opcion-menu" (click)="mostrarEditar(usuario)">✏️ Editar</button>
                    <button class="opcion-menu opcion-borrar" (click)="borrarUsuario(usuario)">🗑️ Borrar</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="overlay" *ngIf="mostrarModal">
        <div class="modal-confirm p-4 text-center">
            <h4>{{ usuarioSeleccionado ? 'Editar Usuario' : 'Nuevo Usuario' }}</h4>
            <input type="text" [(ngModel)]="nuevoUsername" [placeholder]="usuarioSeleccionado ? usuarioSeleccionado.username : 'Username'" class="form-control mb-3">
            <input type="password" [(ngModel)]="nuevoPassword" placeholder="Password" class="form-control mb-3">
            <div class="d-flex gap-3 justify-content-center">
            <button class="btn btn-secondary" (click)="mostrarModal = false">Cancelar</button>
            <button class="btn-amarillo" (click)="usuarioSeleccionado ? editarUsuario() : crearUsuario()">{{ usuarioSeleccionado ? 'Guardar Cambios' : 'Crear Usuario' }}</button>
            </div>
        </div>
    </div>

    <div class="toast-alert" [class.show]="mostrarToast">
      <div class="toast-icon">
        <i class="ti ti-ban"></i>
      </div>
      <span>{{ mensajeToast }}</span>
    </div>

  </div>

</app-navbar>

